html {
  background-size: 85%;
  background-color: rgb(0, 0, 0);
  background-image: url("../images/guitar1.jpg");
  background-position: fixed;
  background-repeat: no-repeat;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
}

h1 {
  float: center;
  margin-top: 12px;
  margin-left: 1226px;
  font-size: 46px;
  font-weight: lighter;
  color: aliceblue;
}

/* buttons */
.button-wrapper {
  display: flex;
  margin-top: 120px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.string {
  align-items: center;
  margin-left: 1200px;
  margin-top: 15px;
  appearance: none;
  background-color: #848670;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(245, 239, 239, 0.849) 0 3px 5px -1px,
    rgb(240, 236, 236) 0 6px 10px 0, rgba(250, 244, 244, 0.842) 0 1px 18px 0;
  box-sizing: border-box;
  color: #ece5ea;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  /* position: relative; */
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.string:hover {
  background: #f6f9fe;
  color: #56dae4;
}

.string:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.string:focus {
  outline: none;
  border: 2px solid #ec90c6;
}

.string:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.string:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.string:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.string:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.string:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
