html {
  background-color: black;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  background-image: url("../images/guitar1.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

h1 {
  color: aliceblue;
  font-size: 36px;
  font-weight: lighter;
  margin-top: 0;
}

.containerA {
  display: flex;
  width: 400px;
  justify-items: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}

#audio-button6 {
  margin-right: 0px;
  margin-left: 9px;
  background-color: #706d6d;
  border: 1px solid #b6b0ad;
  border-radius: 30px;
  box-shadow: #000000 4px 4px 0 0;
  color: #cabfbf;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  padding: 0 12px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#audio-button5 {
  margin-right: 4px;
  margin-left: 50px;
  background-color: #706d6d;
  border: 1px solid #bea493;
  border-radius: 30px;
  box-shadow: #000000 4px 4px 0 0;
  color: #cabfbf;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  padding: 0 12px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#audio-button4 {
  margin-right: -4px;
  margin-left: 44px;
  background-color: #706d6d;
  border: 1px solid #bea493;
  border-radius: 30px;
  box-shadow: #000000 4px 4px 0 0;
  color: #cabfbf;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  padding: 0 12px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#audio-button3 {
  margin-right: 14px;
  margin-left: 52px;
  background-color: #706d6d;
  border: 1px solid #bea493;
  border-radius: 30px;
  box-shadow: #000000 4px 4px 0 0;
  color: #cabfbf;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  padding: 0 12px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#audio-button2 {
  margin-right: 1px;
  margin-left: 39px;
  background-color: #706d6d;
  border: 1px solid #bea493;
  border-radius: 30px;
  box-shadow: #000000 4px 4px 0 0;
  color: #cabfbf;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  padding: 0 12px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#audio-button1 {
  margin-right: 13px;
  margin-left: 44px;
  background-color: #706d6d;
  border: 1px solid #bea493;
  border-radius: 30px;
  box-shadow: #000000 4px 4px 0 0;
  color: #cabfbf;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  padding: 0 12px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#audio-button6:hover {
  background-color: #eca1a1;
}

#audio-button5:hover {
  background-color: #e9c370;
}

#audio-button4:hover {
  background-color: #f1fc95;
}

#audio-button3:hover {
  background-color: #94f088;
}

#audio-button2:hover {
  background-color: #a2c5f1;
}

#audio-button1:hover {
  background-color: #eb96ee;
}

#audio-button6:active {
  box-shadow: #20201f 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#audio-button5:active {
  box-shadow: #20201f 2px 2px 0 0;
  transform: translate(2px, 2px);
}
#audio-button4:active {
  box-shadow: #20201f 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#audio-button3:active {
  box-shadow: #20201f 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#audio-button2:active {
  box-shadow: #20201f 2px 2px 0 0;
  transform: translate(2px, 2px);
}
#audio-button1:active {
  box-shadow: #20201f 2px 2px 0 0;
  transform: translate(2px, 2px);
}
