html {
  background-size: 100%;
  overflow: hidden;
  left: 5%;
  background-color: rgb(0, 0, 0);
  background-image: url("../images/guitar5.jpg");
  background-repeat: no-repeat;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  margin:0%
}

/*tuning Menus*/

.menuWrap {
  position: absolute;
  margin-top: 2%;
  margin-bottom: 35%;
  left: 1%;
  display: flex;
  flex-direction: column;
}

.menus {
  margin-bottom: 38%;
}

#eStdMenu {
  margin-left: 3%;
  margin-top: 1.5%;
  padding-left: 1%;
  height: 20%;
  text-align: left;
  font-size: 150%;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background-color: transparent;
  color: white;
  border-radius: 3vw;
}

#regMenu {
  margin-left: 3%;
  margin-top: 1.5%;
  padding-left: 1%;
  height: 20%;
  text-align: left;
  font-size: 150%;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background-color: transparent;
  color: white;
  border-radius: 3vw;
}

#dropMenu {
  margin-left: 3%;
  margin-top: 1.5%;
  padding-left: 1%;
  height: 20%;
  text-align: left;
  font-size: 150%;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background-color: transparent;
  color: white;
  border-radius: 3vw;
}

#openMenu {
  margin-left: 3%;
  margin-top: 1.5%;
  padding-left: 1%;
  height: 20%;
  text-align: left;
  font-size: 150%;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  background-color: transparent;
  color: white;
  border-radius: 3vw;
}

option {
  background: black;
  padding-left: 0vw;
}
/* @media screen and(max-width: 900px) {
  .bodywrap {
    width: 50%;
  }
} */

h1 {
  margin: 0%;
  left: 66vw;
  position: absolute;
  text-shadow: 6px 4px 3px grey;
  font-size: 3.5vw;
  font-weight: lighter;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  color: aliceblue;
}

/*visual text of the notes to match the tuning*/
.eStdNotes {
  position: absolute;
  margin-top: 5%;
  color: white;
  left: 55vw;
  top: 1vw;
  font-size: 6vw;
}
#E3 {
  margin-top: 10%;
}

#E4 {
  margin-top: 10%;
}

#E5 {
  margin-top: 20%;
}

#E6 {
  margin-top: 16%;
}

/* buttons */
.button-wrapper {
  position: absolute;
  top: 12vw;
  left: 80.5vw;
  display: flex;
  flex-direction: column;
}

.string {
  background-color: #848670;
  margin-top: 1.6vw;
  border-radius: 4vw;
  border-style: none;
  color: #ece5ea;
  cursor: pointer;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 2vw;
  padding: 0.75vw 1.75vw;
  text-align: center;
  box-shadow: 2px 1px tan;
}

.string:hover {
  background: #f6f9fe;
  color: #e6d81e;
}

.string:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}
